@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
body {
  font-size: 4vw;
  background-image: linear-gradient(to bottom, #4b2f93, #4253c1 55%, #2048aa 60%, #5f98c9);
  min-height: 100vh;
  font-family: 'Century Gothic', 'Noto Sans TC'; }
  body.day {
    background-image: linear-gradient(to bottom, #d37e0a, #f0c41c 30%, #f3e733); }
  body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1; }

.wrap {
  display: flex;
  margin: auto;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  max-width: 450px;
  color: #fff; }
  .wrap::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: 0; }
  .wrap--night::before {
    background-image: url("../images/cal/bg-night.jpg"); }
  .wrap--night::after {
    content: '';
    position: absolute;
    background-image: url("../images/cal/nightMoon.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 15vh;
    height: 14.85849vh;
    left: 50%;
    top: 15vh;
    z-index: 1;
    transform: translateX(-50%) rotate(0) scale(1);
    opacity: 1;
    will-change: transform, left, top, opacity; }
  .day .wrap--night::after {
    transform: translateX(-50%) scale(0.2);
    left: 5vh;
    top: 0;
    opacity: 0.2;
    transition: top 1s, left 1s, transform 1s, opacity 1s;
    transition-timing-function: ease-out; }
  .wrap--day {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-clip-path: circle(0% at calc(100% - 10.62187vh) calc(100% - 30vh));
            clip-path: circle(0% at calc(100% - 10.62187vh) calc(100% - 30vh));
    opacity: 0; }
    .day .wrap--day {
      transition: opacity 1.5s, -webkit-clip-path 3s;
      transition: clip-path 3s, opacity 1.5s;
      transition: clip-path 3s, opacity 1.5s, -webkit-clip-path 3s;
      -webkit-clip-path: circle(200% at calc(100% - 10.62187vh) calc(100% - 30vh));
              clip-path: circle(200% at calc(100% - 10.62187vh) calc(100% - 30vh));
      opacity: 1; }
    .wrap--day::before {
      background-image: url("../images/cal/bg-day.jpg"); }

.cal-box {
  position: relative;
  z-index: 2;
  margin-left: 15px;
  margin-right: 15px;
  height: 86.5vh;
  padding-top: 15px; }

.cal-spHead {
  display: flex; }

.cal-lunar,
.cal-spDay {
  border: 1px solid #fff; }

.cal-lunar {
  width: 60%;
  padding: .1em .3em;
  display: flex;
  align-items: center;
  font-size: 1.8em;
  white-space: nowrap; }
  .cal-lunar__val {
    color: #f3e727;
    margin-left: 0.5em;
    text-align: right;
    width: 100%; }

.cal-spDay {
  margin-left: 15px;
  width: 40%;
  color: #f3e727;
  text-align: center;
  font-size: 1.5em;
  padding: .1em;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.cal-date__val {
  display: block;
  text-align: center;
  color: #f3e727;
  letter-spacing: .2em;
  white-space: nowrap; }

.cal-manjushri {
  display: flex;
  border: 1px solid #fff;
  margin-top: .5em;
  font-size: 1.3em;
  padding: .1em .3em;
  letter-spacing: .3em;
  align-items: center;
  white-space: nowrap; }
  .cal-manjushri__val {
    font-size: 1.6em;
    margin-left: 1em;
    color: #aaa; }
    .cal-manjushri__val.good {
      color: #f3e727; }

.preface {
  margin-top: 13.5vh;
  font-size: 1.1em;
  line-height: 1.3;
  letter-spacing: .2em; }

.btn {
  border-radius: 0;
  border-width: 0;
  color: #fff;
  letter-spacing: .2em;
  font-size: 1.2em;
  padding-left: 1em;
  padding-right: 1em;
  position: relative; }
  .btn--bless {
    background-image: linear-gradient(to bottom, #0e68aa, #1a2d78); }
    .btn--bless::after {
      content: '';
      position: absolute;
      width: 43px;
      height: 39px;
      background-image: url("../images/cal/icon-hand.png");
      bottom: -25px; }

.page-foot {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #f3e727; }
  .page-foot::before {
    content: '';
    position: absolute;
    width: 140%;
    height: 100%;
    left: -50%;
    margin-left: 25%;
    top: 0;
    background-image: linear-gradient(to bottom, #1a2d78, #0c8faa);
    border-top-left-radius: 224% 280%;
    border-top-right-radius: 110% 90%; }
  .wrap--day .page-foot {
    color: #d11577; }
    .wrap--day .page-foot::before {
      background-image: linear-gradient(to bottom, #d37e0a, #f0c41c 30%, #f3e733); }
    .wrap--day .page-foot::after {
      content: '';
      position: absolute;
      background-image: url("../images/cal/daySun.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 20vh;
      height: 19.71014vh;
      bottom: 10vh;
      right: -30vh;
      z-index: -1;
      transform: scale(0);
      will-change: transform, bottom, right; }
  .day .page-foot::after {
    bottom: 65vh;
    right: 3.5vh;
    transform: scale(1);
    transition: bottom 1.2s, right 1.5s, transform 1.5s;
    transition-timing-function: ease-out; }

.page-footbox {
  position: relative;
  z-index: 1;
  height: 13.5vh; }
  .page-footbox::after {
    content: '';
    position: absolute;
    width: 35.40625vh;
    height: 55vh;
    right: -7.08125vh;
    bottom: 11.5vh;
    background-size: cover; }
  .page-footbox::after {
    background-image: url("../images/cal/tower-night.png");
    filter: drop-shadow(0 0 5px rgba(243, 231, 39, 0.5)); }
  .wrap--day .page-footbox::after {
    background-image: url("../images/cal/tower-day.png");
    filter: none; }

.buddha-info {
  display: flex;
  height: 13.5vh;
  align-items: center;
  padding-top: 3vh; }
  .buddha-info .list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    width: 100%;
    padding-left: 1.5em;
    font-size: 1.2em; }
    .buddha-info .list li {
      width: 49%;
      display: inline-flex;
      align-items: center;
      padding-left: 0.5em; }
    .buddha-info .list .item {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }

.wrap--day {
  color: #221714; }

.bless__head,
.bless__main {
  position: relative;
  z-index: 1; }

.bless__head {
  padding-top: 15px; }

.bless__main {
  position: relative;
  z-index: 5;
  width: 55%;
  font-size: 1.1em;
  margin-top: 15px;
  margin-left: 15px; }
  .bless__main p {
    position: relative;
    opacity: 0;
    top: -20%;
    text-align: justify; }
    .bless__main p::before {
      content: '';
      display: inline-block;
      width: .6em;
      height: .6em;
      border-radius: 50%;
      background-color: #d11577;
      margin-left: 0.2em;
      margin-right: 0.2em; }
    .bless__main p:nth-child(1) {
      top: -1%; }
      .bless__main p:nth-child(1)::before {
        background-color: #f8bada; }
    .bless__main p:nth-child(2) {
      top: -2%; }
      .bless__main p:nth-child(2)::before {
        background-color: #f495c7; }
    .bless__main p:nth-child(3) {
      top: -3%; }
      .bless__main p:nth-child(3)::before {
        background-color: #f170b3; }
    .bless__main p:nth-child(4) {
      top: -4%; }
      .bless__main p:nth-child(4)::before {
        background-color: #ed4b9f; }
    .bless__main p:nth-child(5) {
      top: -5%; }
      .bless__main p:nth-child(5)::before {
        background-color: #e9268c; }
  .bless__main .fa-arrow-down {
    color: #d11577; }

.bless-title {
  color: #d11577;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center; }

.bless-moon {
  display: block;
  width: 40px;
  height: 40px;
  box-shadow: inset 10px -10px #eccc68;
  border-radius: 50%;
  filter: drop-shadow(0 0 3px #d11577);
  margin-right: 10px;
  opacity: 0;
  transform: translateY(15px); }

.bless-numBox {
  width: 2em;
  display: block;
  position: relative; }

.bless-num {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1em;
  transform: translate(-50%, -50%); }

.wrap--day .page-footbox {
  display: flex; }
  .wrap--day .page-footbox.active::after {
    bottom: 18.5vh; }

.wrap--day .ripple {
  width: 20%;
  white-space: initial;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1em;
  opacity: 0; }

.ytbox {
  position: relative;
  width: 80%;
  opacity: 0; }
  .ytbox iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

@keyframes dotRotate {
  from {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.loader-box {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100; }

.loader-sub {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  .loader-sub::before {
    content: '';
    display: block;
    width: 22.2px;
    height: 22.8px;
    background-image: url("../images/cal/eye-dot.png");
    background-size: cover;
    animation: dotRotate 1.2s infinite linear; }

.loader-img {
  margin-bottom: 1em;
  width: 60%; }

.lama-title {
  font-size: 1.5em; }

.lama-part {
  font-size: 1.5em; }

@media (min-width: 500px) {
  body {
    font-size: 1.2em; }
  .loader-img {
    width: auto; } }

/*# sourceMappingURL=everyday.css.map */
