<header class="container">
    <div class="row">
        <div class="col-12 text-center">
            <div id="signing" class="signing active"></div>
            <br>
            <div class="alert alert-info">
                <i class="fa fa-angle-double-down"></i>
                
            </div>
            <button class="btn btn-danger ripple signStart" id="signStart">
                
                <i class="fas fa-hand-pointer"></i>
            </button>
        </div>
    </div>
</header>
