<!DOCTYPE html>


<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Youtube demo</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <div id="wrap" class="container wrap">
        <div class="row wrap_row">
            <header class="container">
    <div class="row">
        <div class="col-12 text-center">
            <div id="signing" class="signing"></div>
            <br>
            <button class="btn btn-info signStart" id="signStart">抽籤…</button>
            <br>
            <div id="countdown" class="alert alert-warning countdown">
                雙手合十，虔誠祈求默禱 <span id="countdown__value" class="countdown__value"></span> 秒鐘…
            </div>
        </div>
    </div>
</header>


            

            

            <footer class="copyright">
    （或者是做成轉盤的樣式也是一種方式，總之，就是有一個互動式的介面吸引使用者…）
</footer>

        </div>
    </div>

    <script src="./js/library/jquery-3.4.1.min.js"></script>
    <script src="./js/library/bootstrap.bundle.min.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="./js/main.js"></script>
    
    
</body>
</html>
