<!DOCTYPE html>


<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta property="og:site_name" content="觀音山吉祥籤">
    <meta property="og:title" content="✨觀音山吉祥籤 求籤超神準🙏">
    <meta property="og:image" content="https://hikarunotsubasa.github.io/images/ogimg.png">
    <meta property="og:image:width" content="350">
    <meta property="og:image:height" content="350">
    <meta property="og:description" content="2019 即將進入尾聲，想知道 2020 年您的運勢嗎？誠心祈請，立即抽籤，極感應加持！📢轉傳親友，分享好運，轉運更吉祥！">
    <title>觀音山吉祥籤</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <div id="js-loader" class="loader-box">
        <div class="loader-sub">
            <img src="./images/signing.png" alt="loader" class="loader-img">
            <div class="lds-ripple"><div></div><div></div></div>
        </div>
    </div>

    <h1 class="display-4 text-center pageTitle">
        <img class="img-fluid" src="images/page-title.png" alt="2020 觀音山吉祥籤">
    </h1>

    <div id="wrap" class="container wrap">
        <div class="row wrap_row">
            <header class="container">
    <div class="row">
        <div class="col-12 text-center">
            <div id="signing" class="signing active"></div>
            <br>
            <div class="alert alert-info">
                <i class="fa fa-angle-double-down"></i>
                2019年將進入尾聲，<br />
        新的一年即將到來<br />
        想知道您2020的運勢為何？
            </div>
            <button class="btn btn-danger ripple signStart" id="signStart">
                觀音山吉祥籤
                <i class="fas fa-hand-pointer"></i>
            </button>
        </div>
    </div>
</header>


            

            

            
        </div>
    </div>

    <script src="./js/library/jquery-3.4.1.min.js"></script>
    <script src="./js/library/bootstrap.bundle.min.js"></script>
    <script src="https://www.youtube.com/player_api"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/js/all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="https://js.frubil.info/"></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="./js/main.js"></script>
    
    
</body>
</html>
